<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}Predictive Roofing</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        
	</head>

    <body>

        <nav class="navbar is-dark">
            <div class="navbar-brand">
                
            <!-- Logo Image -->
            <a class="navbar-item" href="/">
                <img src="" alt="Logo">
                Predictive Roofing
            </a>
                

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
            </div>

            <div id="main-navbar" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">Welcome </a>
                </div>

            </div>
        
        
        

        </nav>


        <div class="columns">
            <!-- Sidebar -->
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label">
                        Overview
                    </p>
                    <ul class="menu-list">
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'leads' %}">Leads</a></li>
                        <li><a href="{% url 'jobs' %}">Jobs</a></li>
                        <li><a href="{% url 'messages' %}">Messages</a></li>
                        <li><a href="{% url 'calendar' %}">Calendar</a></li>
                        <li><a href="{% url 'add_lead' %}">Add Lead</a></li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li> 
                        <li><a href="#">Settings</a></li>
                        
                       
                        <li>
                            <form method="post", action="{% url 'logout'%}">
                                {% csrf_token %}
                                <a href="#", onclick="this.parentNode.submit()", class="button is-danger">Log Out</a></li>
                            </form>
                    </ul>
                    
                </aside>
            </div>
            <!-- End Sidebar -->
    
            <!-- Main Content -->
            <div class="column">
                <section class="section">
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
            <!-- End Main Content -->
        </div>
    </body>